{% extends 'base.html' %}

{% block content %}

	<section class="content-header">
	Profil
	</section>
	<section class="content">
		<form name="form-control" class="span4" method="POST">
		{% csrf_token %}
		
		{% if user_form%}
		  {%for field in user_form.visible_fields %}
			<div class="form-group"> 
				<div class="row">
					<div class="col-md-2">
						{{field.label}}				
					</div>
					<div class="col-md-6">
						{{field}}				
					</div>
				</div>
			</div>
			
			{%endfor%}		
		{% endif %} 
		{% if userprofile_form%}
		  {%for field in userprofile_form.visible_fields %}
			<div class="form-group"> 
				<div class="row">
					<div class="col-md-2">
						{{field.label}}				
					</div>
					<div class="col-md-6">
						{{field}}				
					</div>
				</div>
			</div>
			
			{%endfor%}		
		{% endif %}
		<div class="row">
		    <div class="col-md-6 col-md-offset-2">
		       <input type="submit" class="btn btn-success pull-right" value="Kaydet">
		       
										
			</div>
		</div> 
		
		
	</form> 
    </section>


{% endblock %}